.commands {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 15px;
}

.container {
    display: flex;
    /*grid-template: repeat(auto-fit, 150px) / repeat(auto-fit, 250px);*/
    gap:10px;
}

.card {
    background-color: bisque;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 2fr;
    gap: 2px;
    padding: 5px;
}

.card #title {
    grid-area: 1 / 1 / span 1 / span 2;
    font-weight: bold;
    text-align: center;
}

.card .button-remove {
    grid-area: 5 / 2 / span 1 / span 1;
    width: 80px;
    align-self: center;
    justify-self: end;
}

#new-book p {
    display: grid;
    grid-template: 1fr / 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

#new-book .label {
    grid-column: 1 / 2;
}

#new-book .input {
    grid-column: 2 / -1;
}

.buttons {
    display:flex;
    justify-content: flex-end;
    gap: 5px;
}

label#book-read-yes {
    grid-column: 2 / 3;
    justify-self: end;
}

input#book-read-yes {
    grid-column: 3 / 4;
}

label#book-read-no {
    grid-column: 4 / 5;
    justify-self: end;
}

input#book-read-no {
    grid-column: 5 / 6;
}

#button-save,
#button-cancel {
    width: 60px;
}